@use '../variables' as *;
@use '../mixins' as *;
@use '../typography' as *;

.home {
    @include flex-col;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    ul {
        @include flex-col;

        li {
            @include flex-col;

        }
    }

    &-heading {
        @include flex-col;
        margin: 40px auto;

    }

    @media (min-width: 760px) {}

    @media (min-width: 960px) {
        @include flex-col;
        flex-wrap: wrap;
        width: 100%;

        ul {
            @include flex-row;
            flex-wrap: wrap;
            list-style: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 2vh;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2vh;
        }

        &-heading {
            h1 {
                font-size: 4em;
                text-shadow: 1px 1px 2px $secondary-color;
                margin: 0;
                color: $primary-color;
            }

            h2 {
                font-size: 1.5em;
                font-family: $secondary-font;
                margin: 0;
                font-weight: 300;
            }
        }

        &-movie-container {
            @include flex-row;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            width: 400px;
            padding: 10px;
            gap: 2vh;
            height: 300 px;
            border: 1px solid #fff;

            h2 {
                margin: 0;
            }

            img {
                width: 200px;
            }
        }

        &-movie-info {
            display: flex;
            flex-direction: column;
            text-align: left;

            h3 {
                font-size: 1.4rem;
                margin: 0;
                padding: 0;
                line-height: 1.7rem;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 0.8rem;
            }

            button {
                margin-top: 10px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #fff;
                background: none;
                color: #fff;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.6s ease;
            }

            button:hover {
                background: #fff;
                color: #F7465B;
                border: 1px solid #fff;
            }
        }
    }
}