@use "../mixins" as *;
@use "../variables" as *;

// body {
//   background: linear-gradient(90deg, #7bed9f, #3498db);
// }

:root {
  --primary: 35 100% 100%;
  --angle: 0deg;
  --primary-hue: 250;
  --primary-saturation: 66%;
  --primary-lightness: 61%;
}

.neon-red {
  --neon: #ff5161;
  --neon-glow: #d30302;
}

.neon-pink {
  --neon: #ff53cd;
  --neon-glow: #e10361;
}

.neon-purple {
  --neon: #9461fd;
  --neon-glow: #4003e6;
}

.neon-blue {
  --neon: #2dd9fe;
  --neon-glow: #00a3d5;
}

.neon-green {
  --neon: #00fe9b;
  --neon-glow: #02c435;
}

.neon-yellow {
  --neon: #ffdb4e;
  --neon-glow: #b48505;
}

.neon-white {
  --neon: #fefefe;
  --neon-glow: #ffffff;
}

@supports (background: color(display-p3 1 1 1)) {
  @media (dynamic-range: high) {
    .neon-red {
      --neon-glow: color(display-p3 1 0 0);
    }

    .neon-pink {
      --neon-glow: color(display-p3 1 0 1);
    }

    .neon-purple {
      --neon-glow: color(display-p3 0 0 1);
    }

    .neon-blue {
      --neon-glow: color(display-p3 0 1 1);
    }

    .neon-green {
      --neon-glow: color(display-p3 0 1 0);
    }

    .neon-yellow {
      --neon-glow: color(display-p3 1 1 0);
    }

    .neon-white {
      --neon-glow: color(display-p3 1 1 1);
    }
  }
}

.nav {
  @include flex-col;
  position: relative;
  height: 100px;

  // flex-wrap: wrap;

  &-logo {
    img {
      width: 6rem;
      will-change: filter;
      transition: filter 300ms;
      margin: 0;
    }
  }

  .nav-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  ul {
    @include flex-col;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    justify-content: space-around;
    height: 170px;

    li {
      @include flex-col;
      padding: 0;
      margin: 0;
    }
  }

  &-link {
    text-decoration: none;
    color: var(--neon);
    transition: all 0.6s ease;
    text-shadow: 5px 5px 5px var(--neon-glow);
    font-family: $primary-font;
    font-size: 3rem;
  }

  /* hamburger */
  .checkbox {
    display: none;
  }

  .button {
    position: relative;
    background-color: var(--neon);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 1vh;
    right: 1vw;
    z-index: 2000;
    // box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
    border: 5px solid var(--neon);
    box-shadow: 0 0 50px var(--neon-glow), inset 0 0 50px var(--neon-glow);
  }

  .background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5vh;
    right: 1.5vw;
    background-image: radial-gradient(var(--neon), black);
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  /* functionality */
  .checkbox:checked ~ .background {
    transform: scale(80);
  }
  .checkbox:checked ~ .nav-menu {
    opacity: 1;
    width: 100%;
    right: 0;
  }

  /* styling hamb ICON */
  .icon {
    @include flex-col;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 20%;
    // transform: translate(-5%, -45%);
    margin: 0 auto;
  }

  .icon,
  .icon::before,
  .icon::after {
    @include flex-col;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 6px;
    margin: 0 auto;
    background-color: gray;
    display: inline-block;
    transform: translate(-5%, -45%);
    border: 2px solid var(--neon);
    box-shadow: 0 0 10px var(--neon-glow), inset 0 0 10px var(--neon-glow);
  }

  .icon::before,
  .icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .icon::before {
    top: -0.8rem;
  }
  .icon::after {
    top: 0.8rem;
  }

  .button:hover icon:before {
    top: -1rem;
  }
  .button:hover icon::after {
    top: 1rem;
  }

  .checkbox:checked + .button .icon {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  @media (min-width: 760px) {
  }

  @media (min-width: 960px) {
    position: absolute;
    bottom: 0;
    @include flex-row;
    // display: flex;
    width: 100%;
    height: 60px;
    // background-color: #0F162E;
    // box-shadow: 0 0 20px rgba(111, 111, 111, 0.2);
    // border: 2px solid var(--neon);

    box-shadow: 0 0 30px var(--neon-glow), inset 0 0 30px var(--neon-glow);
    right: 0;
    justify-content: space-between;
    padding: 0 20px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 4vh;
      justify-content: center;
      align-items: center;
      height: auto;

      li {
        display: flex;
        flex-direction: row;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1.4rem;
      color: #e8e8e8;
    }

    &-sticky {
      position: fixed;
      top: 0;
    }

    &-logo {
      img {
        width: 6rem;
        will-change: filter;
        transition: filter 300ms;
        margin: 0;
      }
    }

    .button {
      display: none;
    }

    .nav {
      background-color: #9461fd;
    }
    .background {
      display: none;
    }
    // .nav ul {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 4vh;
    //     justify-content: center;
    //     align-items: center;
    // }

    // .nav ul li {
    //     display: flex;
    //     flex-direction: row;
    // }

    // .nav a {
    //     text-decoration: none;
    //     color: #e8e8e8;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex: 1;
    //     letter-spacing: 2px;
    //     font-weight: 700;
    //     font-size: 1.4rem;
    //     transition: all 0.6s ease;
    //     text-shadow: 1px 1px 2px $primary-color;
    //     font-family: $primary-font;
    // }

    // .nav a:hover {
    //     color: $secondary-color;
    //     text-shadow: 1px 1px 2px $primary-color;
    // }
  }
}
